body {
  --color-linkColor: #2196f3;
  --color-todoTooltip: rgba(192, 52, 29, 0.9);
  --color-todoDelete: #d0a0a1;
  --color-todo-border: #999;

  &:not([data-darkMode]) {
    --color-text: rgba(0, 0, 0, 0.87);
    --color-todoAllToggle: #272727;
    --color-todo-background: #f5f5f5;
    --color-todo-boxShadow-light: rgba(27, 27, 27, 0.4);
    --color-todo-boxShadow-lighter: rgba(27, 27, 27, 0.2);
  }

  &[data-darkMode] {
    --color-text: #fff;
    --color-todoAllToggle: #e6e6e6;
    --color-todo-background: #272727;
    --color-todo-boxShadow-light: rgba(255, 255, 255, 0.4);
    --color-todo-boxShadow-lighter: rgba(255, 255, 255, 0.6);
  }
}
